<div class="px-5 py-5">
<div class="row">
  <div class="col-3">
    <app-graph [label]="'Input'" [chartLabel]="'Input Current (A)'" [color]="'#34a487'"></app-graph>
  </div>
  <div class="col-3">
    <app-graph [label]="'Output'" [chartLabel]="'Output Current (A)'" [color]="'#eb6824'"></app-graph>
  </div>
  <div class="col-3">
    <app-graph [label]="'Battery'" [chartLabel]="'Battery Current (A)'" [color]="'#34a487'"></app-graph>
  </div>
  <div class="col-3">
    <app-graph [label]="'Alarm'" [chartLabel]="'Battery Power'" [color]="'#6739bc'"></app-graph>
  </div>
</div>
