<nav class="navbar navbar-expand-lg navbar-dark">


  <div class="row w-100">
    <div class="col-6 d-flex justify-content-start align-self-center ">
      <a class="navbar-brand" href="#"> <i class="bi bi-speedometer2"></i>Dashboard > <i
          class="bi bi-speedometer2"></i>All > <i class="bi bi-speedometer2"></i>PS8807</a>
    </div>
    <div class="col-6 d-flex justify-content-end align-self-center top-right">
      <div class="d-flex align-self-center"><i class="bi bi-fullscreen fs-4 mr-3" *ngIf="!fullScreen" (click)="toggleFullScreen(true)"></i><i  *ngIf="fullScreen" class="bi bi-fullscreen-exit fs-4 mr-3" (click)="toggleFullScreen(false)"></i> <i class="bi bi-bell-fill fs-4 mr-3"></i></div>

      <div class=><i class="bi bi-person-circle fs-1"></i></div>
      <div class="align-self-center"><p>Basil Abraham</p><p>Tenat Administrator</p></div>
      
    </div>
  </div>
</nav>